<div class="about-me">
<p>Hello! My name is Reuben Tudball and I am currently a 3rd year in the Applied Computer Science (Mobile Computing) Honours Degree at Sheridan College.</p>

<p>I first became interested in software development while taking an after school game development course in the 6th grade. After developing many terribly buggy games in Visual Basic, I finally graduated to making terribly
  buggy games in Unity during High School. A few barely functional Roll-a-ball's later and I entered the 2 Year Computer Programming Diploma at Sheridan College, where I fully honed my skills at googling errors and clicking
the first StackOverflow link that pops up. Now I continue down the path of writing mediocre code at 3am, fueled by nothing but coffee and chocolate milk, at Sheridan College's Applied Computer Science program. I hope to gain
hands-on developer experience through co-op and interning, and am always enthusiastic about learning more about the world of software development</p>

<p>I primarily have experience in the following areas:</p>
<ul>
  <li>Web Development (HTML5, CSS, Javascript, JQuery, Angular, Springboot</li>
  <li>Java (Enterprise)</li>
  <li>Yu-Gi-Oh</li>
  <li>Database (mySQL, MSSQL)</li>
  <li>Object Oriented Design/Programming</li>
  <li>C/C++</li>
  <li>C#</li>
  <li>Grilled Cheese Making</li>
  <li>Python</li>

  <li>Making Lists</li>
</ul>

<p>You can view my resume <a target="_blank" href="https://my.indeed.com/p/reubent-zj6ej05">here</a> or by clicking Resume in the navbar. My contact details are on the contact page. Hope to hear from you soon!</p>
</div>
