

<div class="crt">
  <div class="what-this"><a href="https://www.youtube.com/watch?v=a3Z7zEc7AXQ" target="_blank">What's this?</a></div>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark" >
  <h1 class="name-anim">/>Reuben Tudball<div class="underscore">_</div></h1>
  <ul class="navbar-nav" layout="row" layout-align="center" flex="70">

    <li class="nav-item active"><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li class="nav-item"><a routerLink="/about" routerLinkActive="active">About Me</a></li>
    <li class="nav-item"><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    <li class="nav-item"><a target="_blank" href="https://my.indeed.com/p/reubent-zj6ej05">Resume</a></li>

  </ul>

</nav>
<hr>
<main>
  <script src="resources/js/reubentudball.js"></script>
  <router-outlet></router-outlet>
</main>

</div>

